In [1]:
import requests
import pandas as pd

url = "https://data.wa.gov/resource/2cup-2fnu.json?year=2014"
response = requests.get(url)

if response.status_code == 200:
    medicare = response.json()

medicare2014 = pd.DataFrame(medicare)

In [2]:
medicare2014.head()

,county,to_sort_by_county_and_year,to_sort_by_year_and_county,year,state_and_county_fips_code,beneficiaries_with_part_a_and_part_b,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,average_age,percent_female,percent_male,percent_non_hispanic_white,percent_african_american,percent_hispanic,percent_other_unknown,percent_eligible_for_medicaid,average_hcc_score
0,STATE TOTAL,0.2014,2014,2014,.,1098715,739717,358998,32.7,71.0,53.2,46.9,86.3,2.6,3.4,7.7,19.1,0.90
1,ADAMS,530012014,201453001,2014,53001,1557,1333,224,14.4,73.0,51.2,48.8,NaN,NaN,NaN,NaN,15.6,0.86
2,ASOTIN,530032014,201453003,2014,53003,5426,4515,911,16.8,71.0,51.8,48.2,NaN,NaN,NaN,NaN,18.5,0.93
3,BENTON,530052014,201453005,2014,53005,28303,24054,4249,15.0,71.0,53.8,46.2,90.0,0.8,5.1,4.1,15.5,0.92
4,CHELAN,530072014,201453007,2014,53007,11040,8884,2156,19.5,72.0,51.3,48.7,91.7,0.2,5.4,2.7,20.2,0.86

In [3]:
medicare2014.columns

Index(['county', 'to_sort_by_county_and_year', 'to_sort_by_year_and_county',
       'year', 'state_and_county_fips_code',
       'beneficiaries_with_part_a_and_part_b', 'ffs_beneficiaries',
       'ma_beneficiaries', 'ma_participation_rate', 'average_age',
       'percent_female', 'percent_male', 'percent_non_hispanic_white',
       'percent_african_american', 'percent_hispanic', 'percent_other_unknown',
       'percent_eligible_for_medicaid', 'average_hcc_score'],
      dtype='object')

In [4]:
medicare2014.drop(index=0,axis=0,inplace=True)

In [5]:
medicare2014.reset_index(drop=True, inplace=True)

In [8]:
medicare2014.head()

,county,to_sort_by_county_and_year,to_sort_by_year_and_county,year,state_and_county_fips_code,beneficiaries_with_part_a_and_part_b,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,average_age,percent_female,percent_male,percent_non_hispanic_white,percent_african_american,percent_hispanic,percent_other_unknown,percent_eligible_for_medicaid,average_hcc_score
0,ADAMS,530012014,201453001,2014,53001,1557,1333,224,14.4,73.0,51.2,48.8,NaN,NaN,NaN,NaN,15.6,0.86
1,ASOTIN,530032014,201453003,2014,53003,5426,4515,911,16.8,71.0,51.8,48.2,NaN,NaN,NaN,NaN,18.5,0.93
2,BENTON,530052014,201453005,2014,53005,28303,24054,4249,15.0,71.0,53.8,46.2,90.0,0.8,5.1,4.1,15.5,0.92
3,CHELAN,530072014,201453007,2014,53007,11040,8884,2156,19.5,72.0,51.3,48.7,91.7,0.2,5.4,2.7,20.2,0.86
4,CLALLAM,530092014,201453009,2014,53009,22429,20336,2093,9.3,73.0,52.6,47.4,93.3,0.3,1.3,5.1,12.5,0.81

In [9]:
medicare2014.tail()

,county,to_sort_by_county_and_year,to_sort_by_year_and_county,year,state_and_county_fips_code,beneficiaries_with_part_a_and_part_b,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,average_age,percent_female,percent_male,percent_non_hispanic_white,percent_african_american,percent_hispanic,percent_other_unknown,percent_eligible_for_medicaid,average_hcc_score
34,WAHKIAKUM,530692014,201453069,2014,53069,1249,935,314,25.1,72.0,48.0,52.0,NaN,NaN,NaN,NaN,13.4,0.83
35,WALLA WALLA,530712014,201453071,2014,53071,11149,9724,1425,12.8,73.0,55.2,44.9,91.1,0.6,5.7,2.7,17.6,0.95
36,WHATCOM,530732014,201453073,2014,53073,36244,22704,13540,37.4,71.0,52.3,47.7,89.3,0.9,2.7,7.1,21.0,0.89
37,WHITMAN,530752014,201453075,2014,53075,4961,4770,191,3.9,73.0,53.9,46.1,95.0,0.5,0.9,3.7,13.4,0.86
38,YAKIMA,530772014,201453077,2014,53077,37337,29424,7913,21.2,71.0,53.5,46.5,78.2,1.0,15.5,5.4,25.8,0.94

In [14]:
medicare2014.dtypes

county                                  object
to_sort_by_county_and_year              object
to_sort_by_year_and_county              object
year                                    object
state_and_county_fips_code              object
beneficiaries_with_part_a_and_part_b    object
ffs_beneficiaries                       object
ma_beneficiaries                        object
ma_participation_rate                   object
average_age                             object
percent_female                          object
percent_male                            object
percent_non_hispanic_white              object
percent_african_american                object
percent_hispanic                        object
percent_other_unknown                   object
percent_eligible_for_medicaid           object
average_hcc_score                       object
dtype: object

In [18]:
badSymbols=[]
for column in medicare2014.iloc[:,1::]:
    for cell in medicare2014[column]:
        try:
            float(cell)
        except:
            badSymbols.append(cell)

In [19]:
badSymbols

[]

In [15]:
 medicare2014.describe()

,county,to_sort_by_county_and_year,to_sort_by_year_and_county,year,state_and_county_fips_code,beneficiaries_with_part_a_and_part_b,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,average_age,percent_female,percent_male,percent_non_hispanic_white,percent_african_american,percent_hispanic,percent_other_unknown,percent_eligible_for_medicaid,average_hcc_score
count,39,39,39,39,39,39,39,39,39,39,39,39,30,30,30,30,39,39
unique,39,39,39,1,39,39,39,39,38,5,29,30,29,16,22,22,35,19
top,LEWIS,530252014,201453015,2014,53067,6550,11177,516,21.2,71.0,51.7,48.7,94.2,0.4,1.7,4.3,15.6,0.94
freq,1,1,1,39,1,1,1,1,2,15,4,3,2,6,4,3,2,5

In [20]:
# save column names of the columns to change:
colsToChange=medicare2014.iloc[:,-13::].columns

In [24]:
# make changes NOT using iloc:
medicare2014[colsToChange]=medicare2014[colsToChange].apply(pd.to_numeric)

In [27]:
medicare2014.dtypes

county                                   object
to_sort_by_county_and_year               object
to_sort_by_year_and_county               object
year                                     object
state_and_county_fips_code               object
beneficiaries_with_part_a_and_part_b      int64
ffs_beneficiaries                         int64
ma_beneficiaries                          int64
ma_participation_rate                   float64
average_age                             float64
percent_female                          float64
percent_male                            float64
percent_non_hispanic_white              float64
percent_african_american                float64
percent_hispanic                        float64
percent_other_unknown                   float64
percent_eligible_for_medicaid           float64
average_hcc_score                       float64
dtype: object

In [28]:
 medicare2014.describe()

,beneficiaries_with_part_a_and_part_b,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,average_age,percent_female,percent_male,percent_non_hispanic_white,percent_african_american,percent_hispanic,percent_other_unknown,percent_eligible_for_medicaid,average_hcc_score
count,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,30.000000,30.00000,30.000000,30.000000,39.000000,39.000000
mean,28172.179487,18967.102564,9205.076923,19.910256,71.384615,51.820513,48.187179,89.923333,1.11000,3.813333,5.176667,17.258974,0.852051
std,47845.550778,29514.437571,18921.743351,13.816348,1.091001,1.842507,1.842935,5.657932,1.40721,4.360618,2.599958,4.126597,0.074699
min,617.000000,600.000000,17.000000,2.800000,69.000000,47.400000,44.900000,73.900000,0.20000,0.800000,2.400000,8.400000,0.670000
25%,4926.500000,4529.500000,379.500000,8.850000,71.000000,50.950000,46.750000,87.975000,0.40000,1.525000,3.600000,14.800000,0.790000
50%,11040.000000,9335.000000,1439.000000,16.300000,71.000000,51.800000,48.200000,91.800000,0.55000,2.550000,4.300000,16.800000,0.860000
75%,26892.000000,21520.000000,8036.000000,31.000000,72.000000,53.250000,49.050000,94.075000,1.15000,3.350000,6.525000,20.150000,0.925000
max,264388.000000,164731.000000,99657.000000,56.100000,73.000000,55.200000,52.600000,95.500000,6.00000,19.400000,13.600000,26.000000,0.990000